#  Django-related
*.pyc
__pycache__/
db.sqlite3

# Environment-related
.env
.env.local
env/
venv/

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Build outputs
staticfiles/
frontend/build/
frontend/node_modules/.cache/
